name: Various Sanity Checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Various Sanity Checks
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: "12"
      - name: Set up Ruby 2.x
        uses: actions/setup-ruby@v1
        with:
          ruby-version: "2.7"
      - name: Set up Bundler
        run: |
          gem install bundler
          bundle config set without 'uart'
          bundle install --retry 3
      - name: Set up Prettier
        run: |
          npm install prettier
      - name: Set up Rust nightly
        run: |
          rm rust-toolchain
          rustup self update
          rustup toolchain install nightly --component rustfmt clippy
          rustup default nightly
          rustup target add aarch64-unknown-none-softfloat
      - name: Setup misspell
        run: |
          curl -L -o ./install-misspell.sh https://git.io/misspell
          sh ./install-misspell.sh -b .vendor
      - name: Run checks
        run: |
          BSP=rpi3 bundle exec ruby utils/devtool.rb clippy
          BSP=rpi4 bundle exec ruby utils/devtool.rb clippy
          bundle exec ruby utils/devtool.rb copyright
          bundle exec ruby utils/devtool.rb fmt_check
          bundle exec ruby utils/devtool.rb misspell
          bundle exec ruby utils/devtool.rb rubocop
